@{
    ViewData["Title"] = "Giriş Yap";
}

<h4>Ana Sayfa</h4>

<ul id="connectionList"></ul>


<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
<script src="~/js/sessionmanager.js"></script>
